@use "/src/Styles/Variables.scss";

.accomodities {
    display: flex;
    flex-direction: column;
    width: 90%;
    margin: 11px auto;
    color: $color-pink;
    min-height: $height-minus-400px;

    @media only screen and  (max-width:767px) {   
        .titles-content {
            h1 {
                font-size: 36px;
            }
        
            .buttons-content {
                gap: 20px   ;
                button {  
                    padding: 5px 20px;
                }
            }
        }
    }
    
}