@use "/src/Styles/Variables.scss";

.articles {
    margin-bottom: 30px;
    font-size: 18px;
    gap: 30px;

    .title {
        background-color: $color-1;
        color: $color-3;
        padding: 20px;
        border-radius:10px;
    }
    
    .content {
        background-color: $color-4;
        color: $color-1;
        padding: 20px;
        border-radius: 10px;
        margin-bottom: 30px;
    } 
}
