@use "/src/Styles/Variables.scss";

.descriptions,
.equipements {
    margin-bottom: 30px;
    font-size: 18px;
    gap: 30px;

    .description-title,
    .equipement-title {
        display: flex;
        justify-content: space-between;
        background-color: $color-1;
        color: $color-3;
        padding: 20px;
        border-radius:10px;
    }
    
    .description-content,
    .equipement-content {
        background-color: $color-4;
        color: $color-1;
        padding: 20px;
        border-radius: 10px;
        margin-bottom: 30px;
    } 
}
