@use "/src/Styles/Variables.scss";
.sections {
    .header {
            position: relative;
            margin-bottom: 30px;

        h1 {
            margin-bottom: 10px;
        }

        .profils {
            display: inline-flex;
            align-items: center;
            position: absolute;
            bottom: 50%;
            right: 0;
            font-weight: 500;
           
            .name-container {
                display: flex;
                flex-direction: column;
                align-items: center;
                margin-right: 10px;
              }
              
            span {    
                img { 
                    width: 65px;
                    height: 65px;
                    border-radius: 50%;
                }
            }
        }

        .location {
            font-size: 24px;
            margin-bottom: 20px;
        }

        .keywords {
            display: grid;
            grid-template-columns: repeat(auto-fit,minmax(100px, 180px));
            gap : 20px;

            span {
                background-color: $color-pink;
                color: $color-white;
                padding: 5% 0%;
                border-radius: 10px;  
                text-align: center;             
            }
        }

        .stars {
            position: absolute;
            top: 68%;
            right: 0%;
            font-size: xx-large;

            .star-empty {
                color: $color-gray-dark;
            }
        }
    }
}

@media only screen and (min-width: 768px) and (max-width: 1023px) {
    .sections {
        .header {

            h1 {
                font-size: 28px;
            }
            .profils {
                bottom: -5%;                  
            }

            .keywords {
                margin-bottom: 30px;
            
                span {
                    margin-right: 5px;            
                }
            }

            .location {
               font-size: 20px; 
            }

            .stars {
                position: initial;

            }
        }
    }
}

@media only screen and (max-width: 767px) {
    .sections {
        .header {

            h1 {
                font-size: 24px;
            }

            .profils {
                bottom: -16%;
                margin-bottom: 20px;

                .name-container {
                    font-size: 14px;
                  }
            }

            .keywords {
                grid-template-columns: repeat(auto-fit, minmax(40px, 100px));
                margin-bottom: 30px;
                gap: 5px;
            
                span {
                    padding: 7px 0;
                    margin: 0px 10px 10px 0px;
                    font-size: 12px;         
                }
            }

            .location {
                font-size: 18px; 
             }

            .stars {
                position: initial;
                font-size: x-large;
                margin-bottom: 40px;
            }
        }
    }
}
    