@use "/src/Styles/Variables.scss";

.about-content {
    width: 90%;
    margin: auto;
    min-height: calc(110vh - $height-minus-400px);
    .about-accordion {
        margin-bottom: 30px;    
    }
}