@use "/src/Styles/Variables.scss";

.about-content {
    width: 90%;
    margin: auto;
    min-height: $height-minus-400px;
    .about-accordion {
        margin: 30px 60px;        
    }
}

@media screen and (min-width:768px) and (max-width:1023px) {
    .about-content {
      min-height: calc(78vh - 400px);  
    } 
}

@media screen and (max-width:767px){
    .about-content {
        margin-bottom: 30px;

        .about-accordion{
            margin: 30px 0
        }
    }
}    