@use "/src/Styles/Variables.scss";

.about-content {
    width: 90%;
    margin: auto;
    min-height: calc(100vh - 308px);

    .about-accordion {
        margin: 30px 60px;        
    }
}
@media only screen and (min-width: 768px) and (max-width: 1023px) {
    .about-content {
        min-height: calc(100vh - 237px);
    }
  }


@media screen and (max-width:767px){
    .about-content {
        min-height: calc(100vh - 244px);
        margin-bottom: 30px;

        .about-accordion{
            margin: 30px 0
        }
    }
}    