.banner-img {
    width: 100%;
    object-fit: cover;
    z-index: -1;
    opacity: 0.70;
    border-radius: 25px;
}

.banner-content {
    position: absolute;
    inset: 0;
    display: flex;
    place-items: center;
    place-content: center;

    h1 {
        font-size: 48px;
        // margin-bottom: 10px;
        color: #fff;

        @media screen and (width<=768px){
            font-size: 26px;
            margin: 20px;
        }
    }
}