$color-pink:#FF6060;
$color-black:#000;
$color-white:#fff;
$color-gray-light:#f6f6f6;
$color-gray-normal:#E3E3E3;
$color-gray-dark:#C4C4C4;
$background-linear: linear-gradient(#ff6060,#640d0d);
$font-family : "Montserrat", sans-serif;
$height-minus-400px:  calc(110vh - 400px);

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
  }
      
    
    

  