$color-1:#FF6060;
$color-2:#000;
$color-3:#fff;
$color-4:#f6f6f6;
$color-5:#E3E3E3;
$color-6:#C4C4C4;
$background-linear: linear-gradient(#ff6060,#640d0d);
$font-family : "Montserrat", sans-serif;
$height-minus-400px: 400px;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
  }
      
    
    

  