@use '/src/Styles/index.scss';

.banner {
    position: relative;
    display: flex;
    width: 90%;
    height: 180px;
    margin: auto;
    margin-bottom: 30px;
    background-color: #000;
    z-index: 1;
    border-radius: 25px;
}



