.error404 {
    margin: auto;
    width: 90%;
    color: #ff6060;
    margin-bottom: 100px;
    text-align: center;
    
    h1 {
        font-size: 288px;
        font-weight: 700;
    }

    p {
        font-size: 36px;
        font-weight: 500;
        padding: 50px 0;
    }
}