@import '../Styles/Variables.scss';

.error404 {
    margin: auto;
    width: 90%;
    color: $color-1;
    text-align: center;
    margin-bottom: 80px;
    
    h1 {
        font-size: 288px;
        font-weight: 700;
    }

    p {
        font-size: 36px;
        font-weight: 500;
        padding: 50px 0;
        margin: 60px auto;
        word-wrap: break-word;
    }
}

@media screen and (max-width:767px){
    .error404 {
        h1 {
            margin-top: 60px;
            font-size: 100px;
        }
        p{
            font-size: 20px;
        }
    }
}