@use "/src/Styles/Variables.scss";

.footer {
    display: flex;
    flex-direction: column;
    height: 180px;
    background-color: $color-black;
    place-content: center;
    place-items: center;

    p {
        color: #fff;
        margin-top: 10px;
    }

    @media only screen and (min-width: 768px) and (max-width: 1023px) {
        height: 12vh;

    }
    @media screen and (max-width:767px){
        height: 12vh;
    }
}