@use "/src/Styles/Variables.scss";

.footer {
    display: flex;
    flex-direction: column;
    height: 180px;
    background-color: $color-black;
    place-content: center;
    place-items: center;
    position: absolute;
    left: 0;
    right: 0;

    p {
        color: #fff;
        margin-top: 10px;
    }
}