@import '../Styles/Variables.scss';

.footer {
    display: flex;
    flex-direction: column;
    width: 90%;
    height: 180px;
    margin: auto;
    background-color: $color-2;
    place-content: center;
    place-items: center;

    p {
        color: #fff;
        margin-top: 10px;
    }
}