@use "/src/Styles/Variables.scss";

.nav-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 90%;
    margin: auto;
    padding: 40px 0;
    font-weight: 500;

    .nav-logo {
        width: 150px;
    }

    ul { 
        list-style: none;

        & a {
            text-decoration: none;
            padding: 10px;
            
            & li {
                display: inline-block;
                margin-right: 10px;
                font-size: 24px;
                color: $color-pink;
    
                &:hover {
                    text-decoration: underline;
                }
            } 
        }
    } 
}

@media screen and (max-width:767px){
    .nav-bar {
        .nav-logo {
            width: 80px;
        }
        ul {
            & a {  
                padding: 5px; 
                & li {
                    font-size:  16px; ;
                }
            }
        }
    }
}