.nav-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 90%;
    margin: auto;
    padding: 40px 0;
    font-weight: 500;

    ul { 
        list-style: none;

        & a {
            text-decoration: none;
            padding: 10px;
            
            & li {
                display: inline-block;
                margin-right: 10px;
                font-size: 18px;
                color: #FF6060;
    
                &:hover {
                    text-decoration: underline;
                }
            } 
            &.active {
                font-weight: bold;
            }
        }
    }

    
}