@import "/src/Styles/Variables.scss";

.cards {
    display: flex;
    flex-direction: column-reverse;
    background: $background-linear;
    height: 340px;
    width: 30%;
    margin: auto;
    border-radius: 10px;
    padding: 20px;
    color: #fff$color-3;

    .img-gallery {
        width: 100%;
        margin: auto;
        border-radius: 10px;

    }

    a {
        color: $color-3;
        text-decoration: none;
    }

    @media screen and (width<=768px){
        width: 100%;
    }    
}