@use '/src/Styles/index.scss';

.gallery {
    display: flex;
    flex-wrap: wrap;
    background-color: #f6f6f6;
    width: 90%;
    margin: auto;
    padding: 50px;
    margin-bottom: 30px;
    border-radius: 25px;
    gap: 30px;

    @media screen and (max-width:767px){
        background-color: #ffff;
        padding: inherit;


    }
}